.footer {
  padding: pxem(140) pxem(200) pxem(140) 0;
  background-color: $blue;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: -10000px;
    top: 0;
    background-color: $blue;
    height: 100%;
    width: 10000px;
    z-index: 100;
  }

  p {
    color: $white;
  }
}
