.project {
  margin-bottom: pxem(120);

  @include clearfix;

  &:last-of-type {
    margin-bottom: pxem(140);
  }

  &__list {

    &-header {
      margin-bottom: pxem(80);
    }
  }

  &__date {
    color: $darkGrey;
    margin-bottom: pxem(22);
  }

  &__image {
    margin-bottom: pxem(22);
  }

  &__info {
    margin-bottom: 0;
  }
}
