/* Typography */

body {
  font-size: pxem(18);
  line-height: pxem(28);

  @media #{$bp} {
    font-size: pxem(26);
    line-height: pxem(45);
  }

  @include national;
}

p {
  margin-bottom: pxem(70);
}

hr {
  height: pxem(15);
  background-color: $grey;
  margin: pxem(105) 0;
}

a {
  color: $blue;
  outline: none;
  text-decoration: underline;
  transition: margin-left 240ms $t-1;

  &:visited,
  &:focus,
  &:hover {
    text-decoration: underline;
    color: $blue;
    outline: none;
  }

  &:hover {
    margin-left: pxem(20);
  }
}

.text {

  &__white {
    color: $white;
  }

  &__bold    {
    font-weight: $bold-font-weight /* Fallback value:  bold */
  }

  &__regular {
    font-weight: normal
  }

  &__italic  {
    font-style: italic
  }

  &__caps    {
    text-transform: uppercase; letter-spacing: .2em;
  }

  &__left-align   {
    text-align: left
  }

  &__center       {
    text-align: center
  }

  &__right-align  {
    text-align: right
  }

  &__justify      {
    text-align: justify
  }

  &__nowrap {
    white-space: nowrap
  }
}

.link {

}
