// Font-face
@font-face {
  font-family: 'National';
  src: url('../fonts/NationalWeb-Book.woff') format('woff'),
       url('../fonts/NationalWeb-Book.woff2')  format('woff2');

  font-style: normal;
}

@font-face {
  font-family: 'National Italic';
  src: url('../fonts/NationalWeb-BookItalic.woff') format('woff'),
       url('../fonts/NationalWeb-BookItalic.woff2')  format('woff2');

  font-style: normal;
}

// Colors
$blue:     #42b6fb !default;
$white:    #ffffff !default;
$black:    #111111 !default;
$grey:     #f3f3f3 !default;
$darkGrey: #999999 !default;

// Typography
$font-family: 'National', Arial, sans-serif !default;
$heading-font-family: $font-family !default;
$heading-font-weight: bold !default;
$heading-line-height: 1.25 !default;
$monospace-font-family: 'Source Code Pro', Consolas, monospace !default;
$h1: 2rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: .875rem !default;
$h6: .75rem !default;
$bold-font-weight: bold !default;
$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 4rem !default;

// Forms
$form-field-font-size: 1rem !default;
$form-field-height: 2.25rem !default;
$form-field-padding-y: .5rem !default;
$form-field-padding-x: .5rem !default;

// Buttons
$button-font-size: inherit !default;
$button-font-weight: bold !default;
$button-line-height: 1.125rem !default;
$button-padding-y: .5rem !default;
$button-padding-x: 1rem !default;

// Borders
$border-width: 1px !default;
$border-radius: 3px !default;
$border-color: $blue !default;

// Transitions
$t-1:                               cubic-bezier(0.2, 0.3, 0.25, 0.9);

// Z-indexes
$z-1:                               100;
$z-2:                               200;
$z-3:                               300;
$z-4:                               400;
$z-5:                               500;
$z-6:                               600;
$z-7:                               700;
$z-8:                               800;
$z-9:                               900;
$z-10:                              1000;

// Grid
$container-width: pxem(1200);
$grid__columns: 6 !default;
$gutter-width: 2.5rem;

// Media Query Variables
$bp: '(min-width: 768px)' !default;
$bp-max: '(max-width: 767px)' !default;
